*{
margin: 0;
box-sizing: border-box;
padding: 0;
}
#header{
    position: absolute;
    top: 0vh;
    height: 10vh;
    width: 100%;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0 black;
}
#logo{
    width: 12%;
}
#part1{

    background-color: #0E1A42;
    height: 10vh;
    width: 30%;
   color: white;
    text-align: center;
}

#cal{
    border: #0E1A42 3px solid;
    height: 40vh;
    width: 40%;
    position: absolute;
    top: 15vh;
    right: 30%;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0 black;
    
}
label{
    width: 45%;
    margin-right: 5%;
}
input{
    border: orangered 2px solid;
    width: 45%;
    margin-left: 5%;
}
#calcular{
    background-color: orangered;
    color: white;
    border: none;
    box-shadow: 0 0 5px 0 black;
    margin-top: 10%;
    width: 30%;
    margin-left: 40%;
    margin-right: 40%;
}

#res{
    border: #0E1A42 3px solid;
    height: 25vh;
    width: 40%;
    position: absolute;
    top: 60vh;
    right: 30%;
    left: 30%;
    display: flex;
    justify-content: center;
   flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 0 black;
    padding: 8px;

}

#res input{
    border: solid black 0px;
    border-bottom: solid #0E1A42 3px;
   margin-top: -8px;
    
    
    text-align: center;

}
#res label{
margin-top: 7px;
font-weight: 500;
color: #EE4400;
padding: 4px;
width: fit-content;
text-align: center;

}

nav{
    background: white;
    box-shadow: 0 0 5px 0 black;
    height: 10vh;
    position: absolute;
    top: 90vh;
    background-color: #0E1A42;
    
}
nav ul li a{
    color: white;
    
}
nav ul li a:hover{
    background-color: #EE4400;
    color: #fff;
    
}

nav ul {
    margin: auto;
}
@media screen and (max-width: 800px){
    #logo{
        width: 5em;
    }
    #part1 h5{
        font-size: 0.7em;
        
    }
    nav ul li a{
        color: white;
        font-size: 0.8em;
        
    }
    nav {
        background-color: orangered;
        height: 10vh;
        
    }
    #cal{
        border: #0E1A42 3px solid;
        height: 40vh;
        width: 70%;
        position: absolute;
        top: 15vh;
        right: 15%;
        left: 15%;
        padding-left: 13px;
        
    }
    #res{
        border: #0E1A42 3px solid;
        height: 25vh;
        width: 70%;
        position: absolute;
        top: 60vh;
        right: 15%;
        left: 15%;
        display: flex;
        justify-content: center;
       flex-direction: column;
        align-items: center;
        box-shadow: 0 0 5px 0 black;
        padding: 8px;
    
    }
    label{
        width: 45%;
        margin-right: 0px;
        font-size: 0.9em;
        padding-left: 6px;
    }
    input{
        margin-right: 0px;
        margin-left: 0px;
    }
}